**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/.idea
**/.envrc

config/local.js
node_modules
bower_components
.tmp
dump.rdb
lib-cov
coverage
*.seed
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.envrc
.idea
.node_history
.vscode
.vscode/launch.json
tmp
dist/
patches/
